[submodule "vendor/aqo"]
	path = vendor/aqo
	url = https://github.com/Redbot/aqodocs.git
	branch = readguides
[submodule "vendor/miscdocs"]
	path = vendor/miscdocs
	url = https://github.com/Redbot/miscdocs.git
	branch = main
[submodule "docs/projects/everquest"]
	path = docs/projects/everquest
	url = https://github.com/RedGuides/everquest-docs.git
[submodule "vendor/kissassist"]
	path = vendor/kissassist
	url = https://github.com/RedGuides/kissassist.git
