# MKDocs
mkdocs-material @ git+ssh://git@github.com/squidfunk/mkdocs-material-insiders.git
mkdocs-awesome-nav
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-redirects
mkdocs-gen-files
eq_lexers
# automation/update_submodules.py
GitPython
PyGithub
python-gitlab
# automation/generate_discussion_map.py
pymysql
sshtunnel
paramiko<3.4.0  # sshtunnel not compatible with paramiko 3.4.0+ (DSSKey removed)
# automation/rss_patch_command_monitor.py
feedparser
python-dotenv
beautifulsoup4
openai
requests