mkdocs-material @ git+ssh://git@github.com/squidfunk/mkdocs-material-insiders.git
mkdocs-awesome-nav
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-redirects
mkdocs-gen-files
eq_lexers