/* Syntax highlighting for eq_lexers */
.language-eqcommand .nt { 
    font-weight: bold; 
}  /* Slash commands */

.language-eqcommand .nl { 
    color: var(--md-code-hl-constant-color);
}  /* optional keywords */

.language-eqcommand .no { 
    font-weight: bold; 
    color: var(--md-code-hl-keyword-color)
}  /* required keywords */

.language-eqcommand .p { 
    font-weight: normal; 
}  /* Punctuation ({|[]<>...}) */

.language-eqcommand .nv { 
    font-style: italic; 
    font-weight: normal; 
}  /* optional variable placeholders */

.language-eqcommand .nv-Required { 
    font-style: italic; 
    font-weight: bold; 
    color: var(--md-code-hl-name-color);
}  /* required variable placeholders */
.language-eqcommand .md-code__button {
    display: none;
} /* Hide copy button for eqcommands */

/* custom abstract admonition
.md-typeset .admonition.abstract,
.md-typeset details.abstract {
  border-color: #da2401;
}
.md-typeset .abstract > .admonition-title,
.md-typeset .abstract > summary {
  background-color: rgba(189, 6, 8, 0.1);
}
*/
.md-typeset .abstract > .admonition-title::before,
.md-typeset .abstract > summary::before {
  background-color: #da2401;
  -webkit-mask-image: var(--md-admonition-icon--abstract);
          mask-image: var(--md-admonition-icon--abstract);
}

/* black page header */
body[data-md-color-scheme=slate] .md-header {
    background-color: rgba(22, 23, 29, 0.95);
}

body[data-md-color-scheme=slate] .md-tabs {
    background-color: rgba(22, 23, 29,0.6) !important;
}

/* Maximum space for text block */
.md-grid {
    max-width: 100%;
  }